html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    justify-self: center;
    background-color: #C38D9E;
    padding-bottom: 10%;
    height: 100%;
}

.inner-box{
    display: flex;
    flex-direction: row;
    border: 5px solid #E8A87C;
    background-color: #E8A87C;
    align-items: center;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 15px;
    min-height: 525px;
}

#snowboard{
    max-width: 325px;
    min-height: 500px;
    border-radius: 15px;
}

#class-side{
    display: flex;
    flex-direction: column;
    min-width: 325px;
    height: 500px;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 5px;
}

#image-side{
    margin-right: 5px;
    margin-left: 5px;
}

#above-form{
    display: flex;
    justify-content: center;
    background-color: #c08a65;
    border-radius: 10px;
    height: 100px;
    align-items: center;
}

#below-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

#form-list li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}