.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    justify-self: center;
    background-color: #C38D9E;

}

.inner-box{
    display: flex;
    flex-direction: row;
    border: 5px solid #E8A87C;
    background-color: #E8A87C;
    align-items: center;
}

#snowboard{
    max-width: 375px;
}